---
import Layout from "../../layouts/Layout.astro";
import CardArtistes from "../../components/CardArtistes.astro";

import { allArtistes } from "../../../backend/backend.mjs";

const artistes = await allArtistes();
---

<Layout>
    <div class="bg-grad-diagonal pb-10">
        <div
            class="gap-3 max-md:flex-col max-md:flex p-5 md:grid md:grid-cols-2 md:space-x-3 lg:grid lg:grid-cols-3 lg:space-x-3 lg:p-10"
        >
            {
                artistes.length > 0 ? (
                    artistes.map((artistes) => <CardArtistes {...artistes} />)
                ) : (
                    <p>Aucun événement à afficher.</p>
                )
            }
        </div>
    </div>
</Layout>
