---
import "../styles/global.css";
import AccueilIcon from "../assets/icons/accueil.svg";
import ProposIcon from "../assets/icons/propos.svg";
import ProgrammeIcon from "../assets/icons/programme.svg";
import ArtistesIcon from "../assets/icons/artistes.svg";
import ScenesIcon from "../assets/icons/scenes.svg";
import ContactIcon from "../assets/icons/contact.svg";
import ProfilIcon from "../assets/icons/profil.svg";
import InfosIcon from "../assets/icons/infos.svg";
import BilletsIcon from "../assets/icons/billets.svg";
---

<footer class="bg-gray-900 text-white py-4">
    <div class="m-5">
        <h2 class="text-2xl lg:text-5xl font-bold mb-15">
            Les rives du territoire
        </h2>
        <h3 class="text-lg mb-4 font-bold lg:ml-5">Menu</h3>
        <div
            class="gap-4 align-middle justify-center text-neutral-400 grid grid-cols-4 lg:grid-cols-9 m-2 my-10"
        >
            <a href="/" class="flex items-center justify-center flex-col">
                <AccueilIcon class="w-8 h-8 text-gray-400" />
                Accueil</a
            >
            <a
                href="/apropos"
                class="flex items-center justify-center flex-col"
            >
                <ProposIcon class="w-8 h-8 text-gray-400" />
                À propos</a
            >
            <a
                href="/programme"
                class="flex items-center justify-center flex-col"
            >
                <ProgrammeIcon class="w-8 h-8 text-gray-400" />
                Programme</a
            >
            <a
                href="/artistes"
                class="flex items-center justify-center flex-col"
            >
                <ArtistesIcon class="w-8 h-8 text-gray-400" />
                Artistes</a
            >

            <a href="/scenes" class="flex items-center justify-center flex-col">
                <ScenesIcon class="w-8 h-8 text-gray-400" />
                Scènes</a
            >

            <a
                href="/contact"
                class="flex items-center justify-center flex-col"
            >
                <ContactIcon class="w-8 h-8 text-gray-400" />
                Contact</a
            >

            <a href="/profil" class="flex items-center justify-center flex-col">
                <ProfilIcon class="w-8 h-8 text-gray-400" />
                Profil</a
            >

            <a href="/infos" class="flex items-center justify-center flex-col">
                <InfosIcon class="w-8 h-8 text-gray-400" />
                Infos</a
            >

            <a
                href="/billets"
                class="flex items-center justify-center flex-col"
            >
                <BilletsIcon class="w-8 h-8 text-gray-400" />
                Billets</a
            >
        </div>
        <h3 class="text-lg mb-4 font-bold lg:ml-5">Coordonnées</h3>
        <div class="text-neutral-400 m-5 lg:grid lg:grid-cols-3 lg:m-10 gap-4">
            <div class="mb-5">
                <p>Centre-ville de Belfort</p>
                <p>90000 Belfort, France</p>
            </div>
            <div>
                <p>contact@rivesduterritoire.fr</p>
                <p>+33 1 23 45 67 89</p>
            </div>
        </div>
        <h2 class="text-2xl font-bold justify-center align-middle flex my-8">
            Suivez-nous
        </h2>
        <div class="flex align-middle justify-center gap-4">
            <a href="https://www.facebook.com" class="mx-2">
                <img
                    src="/src/assets/icons/facebook.svg"
                    alt="Facebook"
                    class="w-6 h-6"
                />
            </a>
            <a href="https://www.twitter.com" class="mx-2">
                <img
                    src="/src/assets/icons/twitter.svg"
                    alt="Twitter"
                    class="w-6 h-6"
                />
            </a>
            <a href="https://www.instagram.com" class="mx-2">
                <img
                    src="/src/assets/icons/insta.svg"
                    alt="Instagram"
                    class="w-6 h-6"
                />
            </a>
            <a href="https://www.youtube.com" class="mx-2">
                <img
                    src="/src/assets/icons/yt.svg"
                    alt="YouTube"
                    class="w-6 h-6"
                />
            </a>
        </div>
        <p class="text-sm mt-10 flex align-middle justify-center">
            &copy; 2025 Les rives du territoire. Tous droits réservés.
        </p>
    </div>
</footer>
