---
import "../styles/global.css";
---

<footer class="bg-gray-900 text-white py-4">
    <div class="m-5">
        <h2 class="text-2xl font-bold mb-15">Les rives du territoire</h2>
        <h3 class="text-lg mb-4 font-bold lg:ml-5">Menu</h3>
        <div
            class="gap-4 align-middle justify-center text-neutral-400 grid grid-cols-4 lg:grid-cols-9 m-2 my-10"
        >
            <a href="/" class="flex items-center justify-center flex-col">
                <img
                    src="/src/assets/icons/accueil.svg"
                    alt="Accueil"
                    class="w-6 h-6"
                />Accueil</a
            >
            <a href="/about" class="flex items-center justify-center flex-col">
                <img
                    src="/src/assets/icons/propos.svg"
                    alt="À propos"
                    class="w-6 h-6"
                />À propos</a
            >
            <a
                href="/programme"
                class="flex items-center justify-center flex-col"
            >
                <img
                    src="/src/assets/icons/programme.svg"
                    alt="Programme"
                    class="w-6 h-6"
                />Programme</a
            >
            <a
                href="/artistes"
                class="flex items-center justify-center flex-col"
            >
                <img
                    src="/src/assets/icons/artistes.svg"
                    alt="Artistes"
                    class="w-6 h-6"
                />Artistes</a
            >

            <a href="/scene" class="flex items-center justify-center flex-col">
                <img
                    src="/src/assets/icons/scenes.svg"
                    alt="Scène"
                    class="w-6 h-6"
                />Scènes</a
            >

            <a
                href="/contact"
                class="flex items-center justify-center flex-col"
            >
                <img
                    src="/src/assets/icons/contact.svg"
                    alt="Contact"
                    class="w-6 h-6"
                />Contact</a
            >

            <a href="/profil" class="flex items-center justify-center flex-col">
                <img
                    src="/src/assets/icons/profil.svg"
                    alt="Profil"
                    class="w-6 h-6"
                />Profil</a
            >

            <a href="/infos" class="flex items-center justify-center flex-col">
                <img
                    src="/src/assets/icons/infos.svg"
                    alt="Infos"
                    class="w-6 h-6"
                />Infos</a
            >

            <a
                href="/billets"
                class="flex items-center justify-center flex-col"
            >
                <img
                    src="/src/assets/icons/billets.svg"
                    alt="Billets"
                    class="w-6 h-6"
                />Billets</a
            >
        </div>

        <h3 class="text-lg mb-4 font-bold lg:ml-5">Coordonnées</h3>
        <div class="text-neutral-400 m-5 lg:grid lg:grid-cols-3 m-10 gap-4">
            <div class="mb-5">
                <p>Centre-ville de Belfort</p>
                <p>90000 Belfort, France</p>
            </div>
            <div>
                <p>contact@rivesduterritoire.fr</p>
                <p>+33 1 23 45 67 89</p>
            </div>
        </div>
        <h2 class="text-2xl font-bold justify-center align-middle flex my-8">
            Suivez-nous
        </h2>
        <div class="flex align-middle justify-center gap-4">
            <a href="https://www.facebook.com" class="mx-2">
                <img
                    src="/src/assets/icons/facebook.svg"
                    alt="Facebook"
                    class="w-6 h-6"
                />
            </a>
            <a href="https://www.twitter.com" class="mx-2">
                <img
                    src="/src/assets/icons/twitter.svg"
                    alt="Twitter"
                    class="w-6 h-6"
                />
            </a>
            <a href="https://www.instagram.com" class="mx-2">
                <img
                    src="/src/assets/icons/insta.svg"
                    alt="Instagram"
                    class="w-6 h-6"
                />
            </a>
            <a href="https://www.youtube.com" class="mx-2">
                <img
                    src="/src/assets/icons/yt.svg"
                    alt="YouTube"
                    class="w-6 h-6"
                />
            </a>
        </div>
        <p class="text-sm mt-10 flex align-middle justify-center">
            &copy; 2025 Les rives du territoire. Tous droits réservés.
        </p>
    </div>
</footer>
