---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Page d'accueil</title>
	</head>
	<body>
		<main>
			<p>bonjour</p>
			<slot />
		</main>
		<Footer />
	</body>
</html>
